<div class="center-vertical">
    <h1>新規登録</h1>   
    <form action="/signup" method="post" anctype="multipart/form-data">
        <input type="text" name="user" placeholder="ユーザー名"></br>
        <input type="password" name="password" required placeholder="パスワード"></br>
        <input type="password" name="password_confirmation" required placeholder="パスワードを確認"></br>
        <input type="file" name="icon" accept="image/jpeg, image/png"></br>
        <input type="submit" value="Sign up">
    </form>
</div>